/.env
*.env
!.env.example
/.venv/
/.idea/
/.vscode/
/.claude/
/.claudeignore
*.swp
*.swo
.DS_Store
/logs
data/
config/
gluetun-c/
watcharr/
__pycache__/
*.pyc
*.pyo
.pytest_cache/
*.egg-info/
build/
dist/
